catboost==1.0.6
category_encoders==2.5.0
ctgan==0.5.1
disjoint_set==0.7.3
dython==0.6.8
imbalanced_learn==0.9.0
imblearn==0.0
joblib==1.1.0
lightgbm==3.3.2
matplotlib==3.3.2
networkx==2.7.1
numpy==1.22.4
opacus==0.14.0
opendp==0.4.0
openml==0.12.2
pandas==1.2.5
pmlb==1.0.1.post3
pytest==6.2.5
rdt==0.6.4
scikit_learn==1.1.1
scikit_optimize==0.9.0
scipy==1.9.0
sdgym==0.5.0
sdv==0.13.1
seaborn==0.11.2
tensorflow==2.9.1
tensorpack==0.11
torch==1.11.0
tqdm==4.63.1
typeguard==2.13.3
~cipy==1.5.4
